// Copyright © 2017. All rights reserved.
// Author: Andrei Orlov <andyorlov@ya.ru>

.hp-header {
  padding: 100px 0 125px;
  background-image: url(/assets/img/mask.svg), url(/assets/img/avatar-new.png);
  background-repeat: repeat-x, no-repeat;
  background-position: top left, calc(50% + 250px) -20px;
  background-size: auto 100%, auto 120%;
  background-blend-mode: multiply;

  & > .top-line {
    background: initial;
    transform: translateY(-75px);
  }

  &__desc {
    width: 70%;
  }

  h1 {
    margin-bottom: 20px;
    font-size: 40px;
  }

  p {
    max-width: 40em;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 1.5;
  }

  .blinking {
    display: block;
    margin-bottom: 90px;
    font-weight: 700;
    line-height: 1.5;

    & > span {
      animation-name: flashing-bar;
      animation-duration: 5.5s;
      animation-timing-function: linear;
      animation-delay: 0;
      animation-iteration-count: infinite;
      vertical-align: text-bottom;
    }
  }
}

@media (max-width: 576px) {
  .hp-header {
    h1 {
      font-size: 35px;
    }
  }
}

@media (max-width: 768px) {
  .hp-header {
    &__desc {
      width: 100%;
    }
  }
}

@media (min-width: 1200px) {
  .hp-header {
    &__desc {
      width: 60%;
    }
  }
}
