// Copyright © 2017. All rights reserved.
// Author: Andrei Orlov <andyorlov@ya.ru>

.tiles {
  margin: 1.5rem 0;

  &__row {
    display: flex;

    & + & {
      margin-top: 1.5rem;
    }
  }

  &__col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & + & {
      margin-left: 1.5rem;
    }
  }
}

@media (max-width: 768px) {
  .tiles {
    &__row {
      flex-direction: column;
    }

    &__col {
      & + & {
        margin-left: 0;
        margin-top: 1.5rem;
      }

      > .teaser + .teaser {
        margin-top: 1.5rem;
      }
    }
  }
}
