<footer class="footer">
  <div class="container">
    <div class="footer__body">
      <div class="copyright">
        <div class="copyright__date">
          ©&nbsp;2017
        </div>
        <address class="copyright__body">
          Верстка: Андрей Орлов<br>Дизайн: <a href="#" class="copyright__link">Евгений Засименко</a>
        </address>
      </div>
      <div class="contact-links contact-links--footer">
        <a href="mailto:andyorlov@ya.ru" rel="noopener noreferrer" target="_blank" title="Contact via email" class="contact-links__item">{% include svg/icon-email.svg %}</a>
        <a href="https://t.me/maibatsu" rel="noopener noreferrer" target="_blank" title="Telegram Messenger" class="contact-links__item">{% include svg/icon-telegram.svg %}</a>
        <a href="https://github.com/maibatsu" rel="noopener noreferrer" target="_blank" title="GitHub Profile" class="contact-links__item">{% include svg/icon-github.svg %}</a>
      </div>
    </div>
  </div>
</footer>