<header class="hp-header">

  <!-- {% include top-line.html %} -->

  <div class="container">
    <div class="hp-header__desc">
      <h1>Привет, я Андрей Орлов.<br>Веб&#8209;разработчик.</h1>
      <p>Увлекся версткой в&nbsp;начале 2016&nbsp;года, сейчас осваиваю JavaScript. Люблю БЭМ. Приучен к&nbsp;рефакторингу. Собираю все gulp&rsquo;ом. Не&nbsp;представляю жизнь без git&rsquo;а.</p>
      <div class="contact-links">
        <a href="mailto:andyorlov@ya.ru" rel="noopener noreferrer" target="_blank" title="Contact via email" class="contact-links__item"><span>{% include svg/icon-email.svg %}</span>andyorlov@ya.ru</a>
        <a href="https://t.me/maibatsu" rel="noopener noreferrer" target="_blank" title="Telegram Messenger" class="contact-links__item"><span>{% include svg/icon-telegram.svg %}</span> telegram</a>
        <a href="https://github.com/maibatsu" rel="noopener noreferrer" target="_blank" title="GitHub Profile" class="contact-links__item"><span>{% include svg/icon-github.svg %}</span> github</a>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="tiles">
    <div class="tiles__row">
      <div class="tiles__col">
        <a href="http://nabrevno.ru/catalog/nakladki-na-brevno-i-blok-khaus" rel="noopener noreferrer" target="_blank" class="teaser teaser--big">
          <img src="assets/img/works/nabrevno.jpg" alt="naBrevno — накладки на оцилиндрованное бревно и блок-хаус"  class="teaser__picture">
            <div class="teaser__title">
              <p>Интернет-магазин — «naBrevno»</p>
            </div>
          </a>
      </div>
      <div class="tiles__col">
        <a href="#" rel="noopener noreferrer" target="_blank" class="teaser teaser--small">
          <img src="assets/img/works/montana.jpg" alt="Montana"  class="teaser__picture">
            <div class="teaser__title">
              <p>Шаблон «Montana» для Joomla!</p>
            </div>
          </a>
          <a href="http://nm4homies.ru/" rel="noopener noreferrer" target="_blank" class="teaser teaser--small">
            <img src="assets/img/works/nm4.jpg" alt="NM4 Homies — производитель streatwear одежды для сноубордистов и ньюскул лыжников" class="teaser__picture">
            <div class="teaser__title">
              <p>Интернет-магазин — «NM4&nbsp;Homies»</p>
            </div>
          </a>
      </div>
    </div>
    <div class="tiles__row">
      <div class="tiles__col">
        <a href="http://www.mlform.com/" rel="noopener noreferrer" target="_blank" class="teaser">
          <img src="assets/img/works/mlform.jpg" alt="МЛФОРМ — мастерская ландшафтных форм"  class="teaser__picture">
            <div class="teaser__title">
              <p>Сайт мастерской — «MLform»</p>
            </div>
          </a>
      </div>
      <div class="tiles__col">
        <a href="http://md-sport.ru/" rel="noopener noreferrer" target="_blank" class="teaser">
          <img src="assets/img/works/mirkid.jpg" alt="Компания «МИР-ДЕТЯМ» — строительство объектов спортивной и социальной инфраструктуры."  class="teaser__picture">
            <div class="teaser__title">
              <p>Сайт для строителей – «Мир детям»</p>
            </div>
          </a>
      </div>
    </div>
  </div>
</div>