<div class="work">
    <h2>Выполненые работы</h2>
    <div class="work__item">
        <div class="work__picture">
            <img src="assets/img/nabrevno.png" alt="naBrevno — накладки на оцилиндрованное бревно и блок-хаус">
        </div>
        <div class="work__body">
            <h3>«naBrevno»</h3>
            <p>Произведен перенос старого сайта на CMS Joomla, рефакторинг верстки по методологии БЭМ, верстка нового адаптивного
                (desktop,mobile) каталога, шапки и корзины.</p>
            <a href="http://nabrevno.ru/catalog/nakladki-na-brevno-i-blok-khaus" rel="noopener noreferrer" target="_blank" rel="nofollow">посмотреть</a>
        </div>
    </div>
    <div class="work__item">
        <div class="work__picture">
            <img src="assets/img/montana.png" alt="Montana">
        </div>
        <div class="work__body">
            <h3>«Montana»</h3>
            <p>Сверстал адаптивный и оптимизированный шаблон для CMS Joomla.</p>
            <a href="http://montana.mad-web.ru/" rel="noopener noreferrer" target="_blank" rel="nofollow">посмотреть</a>
        </div>
    </div>
    <div class="work__item">
        <div class="work__picture">
            <img src="assets/img/nm4.png" alt="NM4 Homies — производитель streatwear одежды для сноубордистов и ньюскул лыжников">
        </div>
        <div class="work__body">
            <h3>«NM4 Homies»</h3>
            <p>Сверстал адаптивный интернет-магазин для производителя удлиненных толстовок для катания на сноуборде и лыжах.</p>
            <a href="http://nm4homies.ru/" rel="noopener noreferrer" target="_blank" rel="nofollow">посмотреть</a>
        </div>
    </div>
    <div class="work__item">
        <div class="work__picture">
            <img src="assets/img/mir.png" alt="Компания «МИР-ДЕТЯМ» — строительство объектов спортивной и социальной инфраструктуры.">
        </div>
        <div class="work__body">
            <h3>«МИР-ДЕТЯМ»</h3>
            <p>Сверстал адаптивный сайт для компании занимающийся строительством объектов спортивной и социальной инфраструктуры.
            </p>
            <a href="http://mir.mad-web.ru" rel="noopener noreferrer" target="_blank" rel="nofollow">посмотреть</a>
        </div>
    </div>
    <div class="work__item">
        <div class="work__picture">
            <img src="assets/img/mlform.png" alt="МЛФОРМ — мастерская ландшафтных форм">
        </div>
        <div class="work__body">
            <h3>«МЛФОРМ»</h3>
            <p>Для мастерской ландшафтных форм сверстал адаптивный сайт с интерактивными элементами.</p>
            <a href="http://www.mlform.com/" rel="noopener noreferrer" target="_blank" rel="nofollow">посмотреть</a>
        </div>
    </div>
    <div class="work__item">
        <div class="work__picture">
            <img src="assets/img/pscproekt.png" alt="«ПСК Концепт Строй» — разработка внутренних инженерных систем для коттеджей и больших загородных домов">
        </div>
        <div class="work__body">
            <h3>«ПСК Концепт Строй»</h3>
            <p>Сверстал адаптивный сайт для компании, разрабатывающей внутренние инженерные системы для коттеджей и больших
                загородных домов.</p>
            <a href="http://pscproekt.ru/" rel="noopener noreferrer" target="_blank" rel="nofollow">посмотреть</a>
        </div>
    </div>
    <div class="work__item">
        <div class="work__picture">
            <img src="assets/img/o2.png" alt="Кислород - специализированный центр кислородного оборудования">
        </div>
        <div class="work__body">
            <h3>«Центр КИСЛОРОД»</h3>
            <p>Добавил адаптивность для мобильной версии.</p>
            <a href="https://o2-spb.ru/" rel="noopener noreferrer" target="_blank" rel="nofollow">посмотреть</a>
        </div>
    </div>
    <div class="work__item">
        <div class="work__picture">
            <img src="assets/img/glushkat.png" alt="Глушитель Кинг — Сервис-центер. Тюнинг и ремонт глушителей">
        </div>
        <div class="work__body">
            <h3>«Глушитель Кинг»</h3>
            <p>Сверстал адаптивный лендинг для автомобильного сервис-центра.</p>
            <a href="http://glushkat.ru/" rel="noopener noreferrer" target="_blank" rel="nofollow">посмотреть</a>
        </div>
    </div>
</div>